@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "DM Sans", sans-serif;
}

.dropdown-menu.show {
  display: block;
  max-height: 75vh;
  overflow-y: auto;
}

/*
Custom CSS for the row if there's just one element
fixes a bug with the dropdown menu being cut off
*/
.queued-table-row:last-child:first-child td{
  padding-bottom: 35px;
}